@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}


html,
body,
#app {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: #334155;
}


::-ms-scrollbar-thumb {
    color: #888;
    border-radius: 999px;
}
::-ms-scrollbar-track {
    background: #f1f1f1;
}
